<!DOCTYPE html>
<html>
<head>
	<title>Meadomlark Travel</title>
</head>
<body>
	<header><img src="/img/logo.jpg" alt="Meadowlark Travel Logo" height="100px" width="100px"></header>
	{{{body}}}
</body>
</html>